.contenedor{
    display: grid;
    grid-template-columns: 1fr repeat(2, 2fr) 1fr;
    grid-gap: 20px;
    overflow: hidden;
}

.contenedor .item{
    background-color: rgb(245, 148, 83);
    /*
    grid-column-start: 1 ;
    
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
    */
    /* Version short de la anterior
    grid-column: 1 / 4;
    grid-row: 1 / 3;
    */
    /*Version super short fila-star, col-start, fila-end, col-end*/
    grid-area: 1 / 1 / 3 / 4;
    /*Otra forma. indica donce empezar y cuantos quiero que se agrande */
    grid-column: 2/ span 2;
    grid-row: 3 / span 2;
}