.contenedor{
    display: grid;
    height: 600px;
    grid-template-columns:repeat(3, 150px);
    grid-template-rows: repeat(3, 150px) ;
    grid-gap: 20px;
    /*Toma el contenido como uno solo, no para aca item*/
    /*justify content, alinea el contenido horizontalmente, ya sea al inicio, centro o al final
        tambien permite especificar como se va a mostrar el espacion entre los elementos
        otros valores: start, center, end, space-around, space-evenly
    */
    justify-content:space-evenly; 
    /* align-content, alinea el contenido verticalmente
        tambien permite especificar como se va a mostrar el espacion entre los elementos
        otros valores: start, center, end, space-around, space-evenly
    */
    align-content: flex-end;

}

.contenedor .item{
    background-color: rgb(255, 187, 0);
}