*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    background-color: #F9EBEA;
}
:root{
    --max-width:25%;
}

.container{
    padding: 5px;
    display: flex;
    width: 95%;
    background-color: #2E4053;
    margin: 10px auto;
    flex-wrap: wrap;
    border-radius: 5px;
    box-shadow: 0px 5px 10px #ccc;
}

.cell{
    display: flex;
    padding: 2px;
    width: var(--max-width);
    background-color:#FFF;
    border: solid 1px #000;
    flex-wrap: wrap;
}

.inner-cell{
    border: solid 1px #000;
    width: var(--max-width);
    text-align: left;
}

@media screen and (max-width:720px){
    :root{
        --max-width:50%;
    }
}

@media screen and (max-width:360px){
    :root{
        --max-width:100%;
    }

    .inner-cell:nth-child(even){
        background-color: #82E0AA;
        text-align: right;
    }
}